@model IEnumerable<HorizonRE.Models.Customer>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<div class="container mt-md-5 mt-sm-0">
    <div class="row">
        <div class="col-md-10">
            <h2 class="display-4 mb-4">Customers</h2>
        </div>
        <div class="col-md-2">
            @Html.ActionLink("Add Customer", "AddCustomer", "Customer", null, new { @class = "btn btn-primary mt-3" })
        </div>

    </div>
    <div class="row">
        <div class="col">
            <div class="row">
                <div class="col">

                    <table id="customers" class="table table-bordered table-hover mb-5">
                        <thead class="thead-dark">
                            <tr>
                                <th class="lead">Customer Name</th>
                                <th class="lead">Address</th>
                                <th class="lead">Phone</th>
                                <th class="lead">Email</th>
                                <th class="lead">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @*@foreach (var customer in Model)
                            {
                                <tr>
                                    <td> @Html.ActionLink(customer.Name, "Edit", "Customers", new { id = customer.Id }, new { @class = "lead" }) </td>
                                    <td> @customer.LastName @customer.FirstName</td>
                                    <td> @customer.StreetAddress</td>
                                    <td> @customer.Phone</td>
                                    <td> @customer.Email</td>
                                    <td>

                                        <button class="btn btn-link delete" data-customer-id="@customer.CustomerId"
                                                data-toggle="modal" data-target="#confirmModal">
                                            <span class="glyphicon glyphicon-trash"></span> Delete
                                        </button>
                                    </td>
                                </tr>
                            }*@
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>


</div>