<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/fonts")
</head>
<body>
    <div class="wrapper">
        <nav id="sidebar" class="bg-deep-green d-md-block d-none active">
            <div class="sidebar-header pt-3 pl-3 bg-deep-green">
                <div id="logo-side">
                    <h3 class="text-white m-0">HORIZON</h3>
                    <strong>
                        <a href="#" class="text-white pr-3">
                            <i class="fab fa-houzz"></i>
                        </a>
                    </strong>

                    <span id="toggler-icon">
                        <i class="fas fa-caret-right text-white d-block"
                           id="sidebarCollapse">
                        </i>
                    </span>
                </div>
            </div>
            <hr class="bg-white" />
            <ul class="list-unstyled">
                <li>
                    <a href="#adminSub"
                       data-toggle="collapse"
                       aria-expanded="false"
                       class="dropdown-toggle">
                        <i class="fas fa-user-circle"></i>
                        <span>broker@horizon.ca</span>
                    </a>
                    <ul class="collapse list-unstyled" id="adminSub">
                        <li>
                            <a href="#"><i class="fas fa-sign-out-alt"></i> Logout</a>
                        </li>
                    </ul>
                </li>
            </ul>

            <hr class="bg-white" />
            <ul class="list-unstyled ">
                <li>
                    <a href="#agentsSub"
                       data-toggle="collapse"
                       aria-expanded="false"
                       class="dropdown-toggle">
                        <i class="fas fa-user-tie"></i>
                        Agents
                    </a>
                    <ul class="collapse list-unstyled" id="agentsSub">
                        <li>
                            <a href="#">Add Agent</a>
                        </li>
                        <li>
                            <a href="#">Edit Agent</a>
                        </li>
                        <li>
                            <a href="#">Archive Agent</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#customersSub"
                       data-toggle="collapse"
                       aria-expanded="false"
                       class="dropdown-toggle">
                        <i class="fas fa-users"></i>
                        Customers
                    </a>
                    <ul class="collapse list-unstyled" id="customersSub">
                        <li>
                            <a href="#">Add Customer</a>
                        </li>
                        <li>
                            <a href="#">Edit Customer</a>
                        </li>
                        <li>
                            <a href="#">Archive Customer</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#listingsSub"
                       data-toggle="collapse"
                       aria-expanded="false"
                       class="dropdown-toggle">
                        <i class="fas fa-home"></i>
                        Listings
                    </a>
                    <ul class="collapse list-unstyled" id="listingsSub">
                        <li>
                            <a href="#">Add Listing</a>
                        </li>
                        <li>
                            <a href="#">Edit Listing</a>
                        </li>
                        <li>
                            <a href="#">Archive Listing</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#"> <i class="fas fa-cog"></i> Settings</a>
                </li>
            </ul>
        </nav>







        <!-- !NAVBAR   -->
        <div class="container-fluid p-0">
            <nav class="navbar d-md-none d-block navbar-light bg-light ">
                <div class="container-fluid mr-5">
                    <a href="#" class="nav-brand">
                        <img src="/Content/Asset/Images/horizon_logo_header_2.svg"
                             width="100"
                             height="40"
                             alt="" />
                    </a>
                    <button class="navbar-toggler"
                            data-toggle="collapse"
                            data-target="#navbarCollapse">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarCollapse">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item mt-4">
                                <span class="font-weight-bold">broker@horizon.ca</span>
                            </li>
                            <hr />
                            <li class="nav-item">
                                <a href="#" class="nav-link text-dark font-weight-bold">Add Agent</a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link text-dark font-weight-bold">Add Customer</a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link text-dark font-weight-bold">Add Listing</a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link text-dark font-weight-bold">Sign out</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>

            <div class="container-fluid">
                @RenderBody()
            </div>


        </div>

    </div>



    @Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/popper")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/owl")
    @Scripts.Render("~/bundles/slick")
    @Scripts.Render("~/bundles/app")


    @*@RenderSection("scripts", required: false)*@
</body>
</html>
